@import './base/common';
@import './utils/vars';
@import './utils/mixins';
@import './utils/helpers';
@import './base/global';
@import './components/buttons';
@import './layouts/header';
@import './layouts/change-language';
@import './layouts/filter';
@import './layouts/library-header';
@import './layouts/library';
@import './layouts/movies';
@import './components/pagination';
@import './layouts/footer';
@import './layouts/modal';
@import './components/theme-switcher';
@import './layouts/modal-students';
