@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
[data-theme=light] {
  --default-text-color: #000;
  --bg: #f8f8f8;
  --input-back: #ddd;
  --input-color: #9b0004;
}

[data-theme=dark] {
  --default-text-color: #fff;
  --bg: #0d151a;
  --input-back: #ddd;
  --input-color: #294797;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 30px;
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  color: #000;
  background-color: #fff;
}

main {
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn-up {
  background: rgba(255, 255, 255, 0.75);
  position: fixed;
  bottom: 16px;
  right: 45px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #000000;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
  z-index: 9000;
  cursor: pointer;
}

.btn-up::before {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 30px;
  content: "↑";
}

.btn-up.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

.btn-up:hover {
  color: #ffffff;
  background-color: rgb(2, 2, 2);
}

.header {
  background: rgba(0, 0, 0, 0.56);
  background-image: url(/src/images/header-background-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 320px) {
  .header {
    min-height: 230px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    min-height: 216px;
    background-image: url(/src/images/header-background-tablet.png);
  }
}
@media screen and (min-width: 1280px) {
  .header {
    min-width: 1280px;
    background-image: url(/src/images/header-background-desktop.png);
  }
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-right: 12px;
  fill: transparent;
  stroke: #fff;
}

.header__link-block {
  display: flex;
  align-items: center;
}
.header__link-block:hover {
  color: #fff;
  background-color: #ff6b01;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  transform: scale(1.03);
  box-shadow: 0 0 15px 5px rgba(129, 119, 106, 0.5019607843);
}
.header__link-block:focus {
  color: #fff;
  background-color: #ff6b01;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  transform: scale(1.03);
  box-shadow: 0 0 15px 5px rgba(129, 119, 106, 0.5019607843);
}

.header__nav {
  margin-bottom: 40px;
  padding-top: 40px;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.header__links-container {
  display: flex;
  gap: 40px;
}

.header__links-container .current {
  position: relative;
}
.header__links-container .current::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: rgb(255, 0, 27);
  position: absolute;
  bottom: -3px;
}

.header__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.header__link:hover {
  color: #fff;
  background-color: #ff6b01;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  transform: scale(1.03);
  box-shadow: 0 0 15px 5px rgba(129, 119, 106, 0.5019607843);
}
.header__link:focus {
  color: #fff;
  background-color: #ff6b01;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  transform: scale(1.03);
  box-shadow: 0 0 15px 5px rgba(129, 119, 106, 0.5019607843);
}

.header__link-filmoteka {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__link-filmoteka {
    display: block;
    font-size: 30px;
    line-height: 35px;
    color: #fff;
  }
}

.header__form {
  position: relative;
  display: flex;
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .header__form {
    width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .header__form {
    width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .header__form {
    width: 394px;
  }
}

.header__input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 0;
  border-bottom: 0.5px solid #fff;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
}
.header__input:focus {
  color: #fff;
  background-color: #ff6b01;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  transform: scale(1.03);
  box-shadow: 0 0 15px 5px rgba(129, 119, 106, 0.5019607843);
}
@media screen and (min-width: 320px) {
  .header__input {
    width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .header__input {
    width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .header__input {
    width: 394px;
  }
}

.header__input::-moz-placeholder {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
}

.header__input:-ms-input-placeholder {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
}

.header__input::placeholder {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
}

.header__btn {
  position: absolute;
  right: -7px;
  top: 0;
  display: block;
  background: transparent;
  border: none;
  cursor: pointer;
}
.header__btn:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.6);
}
.header__btn:focus {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.6);
}

.header__search-logo {
  fill: transparent;
  stroke: #fff;
}
.header__search-logo:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.6);
}
.header__search-logo:focus {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.6);
}

.header__warning-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 14px;
  line-height: 16px;
  color: rgb(255, 0, 27);
  width: 280px;
}
@media screen and (min-width: 768px) {
  .header__warning-search {
    width: 394px;
    text-align: center;
  }
}

.filter {
  padding-top: 20px;
}

.filter__nav-flex {
  display: flex;
  gap: 30px;
}

.filter__text {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #000;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.16;
  cursor: pointer;
}

.filter__icon {
  margin-bottom: -3px;
}

.drophover {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 7px;
}
.drophover:hover, .drophover:focus,
.drophover .filter__text:hover,
.drophover .filter__text:focus,
.drophover .filter__icon:hover,
.drophover .filter__icon:focus {
  color: #fff;
  fill: #fff;
  background-color: rgb(255, 0, 27);
}

.dropdown {
  display: inline-block;
}
.dropdown:hover .dropdown__content {
  display: block;
}

.dropdown__content {
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 7px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown__content .dropdown__item {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-radius: 7px;
}
.dropdown__content .dropdown__item:hover {
  color: rgb(255, 107, 8);
}

.dropdown__content .dropdown__item:hover {
  background-color: #f7f7f7;
}

.header--library {
  background-image: url(/src/images/watched-header-background-mobile.png);
}
@media screen and (min-width: 768px) {
  .header--library {
    background-image: url(/src/images/watched-header-background-tablet.png);
  }
}
@media screen and (min-width: 1280px) {
  .header--library {
    background-image: url(/src/images/watched-header-background-desktop.png);
  }
}

.header__library-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .header__library-list {
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .header__library-list {
    gap: 16px;
  }
}

.header__library-item {
  margin: 22px 0 62px;
}
@media screen and (min-width: 768px) {
  .header__library-item {
    margin: 0 0 60px;
  }
}

.header__library-btn {
  height: 44px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .header__library-btn {
    width: 152px;
  }
}
@media screen and (min-width: 1280px) {
  .header__library-btn {
    width: 147px;
    height: 42px;
  }
}
.header__library-btn:focus {
  background-color: #ff6b01;
  border: 1px solid transparent;
}
.header__library-btn:hover {
  background-color: #ff6b01;
  border: 1px solid transparent;
}

.header__library-btn--watched {
  padding: 14px 36px 12px;
}

.header__library-btn--queue {
  padding: 14px 45px 12px;
}

.header__library-btn--active {
  background-color: #ff6b01;
  border: 1px solid transparent;
}

.library__info {
  margin-top: 25px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .library__info {
    font-size: 16px;
    line-height: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .library__info {
    font-size: 20px;
    line-height: 27px;
  }
}

.library__image {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
  height: 35vh;
  background-image: url(/src/images/library-mob-1x.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .library__image {
    background-image: url(/src/images/library-tab-1x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .library__image {
    height: 42vh;
    min-width: 1280px;
    background-image: url(/src/images/library-desc-1x.jpg);
  }
}

.container__my-library--margin-top {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .container__my-library--margin-top {
    margin-top: 60px;
  }
}

.library__btn {
  display: inline-block;
  cursor: pointer;
  min-width: 215px;
  height: 20px;
  padding: 3px;
  border: none;
  color: #fff;
  background: rgb(255, 107, 8);
  background: linear-gradient(0deg, rgb(255, 107, 8) 0%, rgb(249, 21, 21) 100%);
  transition: transform 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .library__btn {
    min-width: 240px;
    height: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .library__btn {
    min-width: 300px;
    height: 30px;
  }
}

.library__btn:hover {
  color: #000;
  background: transparent;
  box-shadow: none;
}

.library__btn:before,
.library__btn:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: rgb(255, 107, 8);
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.1333333333);
  transition: 400ms ease all;
}

.library__btn:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.library__btn:hover:before,
.library__btn:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.movies {
  padding-top: 20px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .movies {
    padding-top: 59px;
    padding-bottom: 61px;
  }
}
@media screen and (min-width: 1280px) {
  .movies {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .movies__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .movies__list {
    justify-content: flex-start;
    gap: 16px;
  }
}

.movies__item {
  border: 1px solid rgb(127, 118, 118);
  border-radius: 5px;
  margin-top: 32px;
  transition-property: scale, box-shadow, border-radius;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.movies__item:first-child {
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .movies__item {
    margin-top: 0;
  }
}
@media screen and (min-width: 1280px) {
  .movies__item {
    max-width: 395px;
    margin-top: 16px;
  }
  .movies__item:nth-child(-n+3) {
    margin-top: 0;
  }
}
.movies__item:hover, .movies__itemfocus {
  scale: 1.03;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 5px rgb(127, 118, 118);
  outline: 3px solid #ff6b01;
}

.movies__img {
  border-radius: 5px;
  width: 100%;
}
@media screen and (min-width: 320px) {
  .movies__img {
    width: 280px;
    height: 402px;
  }
}
@media screen and (min-width: 768px) {
  .movies__img {
    width: 336px;
    height: 495px;
  }
}
@media screen and (min-width: 1280px) {
  .movies__img {
    width: 395px;
    height: 574px;
  }
}

.movies__info {
  padding: 10px 10px;
}
@media screen and (min-width: 768px) {
  .movies__info {
    max-width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .movies__info {
    max-width: 395px;
  }
}

.movies__title {
  white-space: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-transform: uppercase;
  color: var(--default-text-color);
}
@media screen and (min-width: 1280px) {
  .movies__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
  }
}

.movies__text {
  white-space: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: rgb(255, 107, 8);
}
@media screen and (min-width: 1280px) {
  .movies__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 320px) {
  .pagination {
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .pagination {
    padding-bottom: 60px;
  }
}

.tui-pagination {
  padding: 0px !important;
  margin: 0px !important;
}

.tui-pagination .tui-page-btn {
  border: none !important;
  border-radius: 7px;
}

.tui-pagination .tui-page-btn {
  line-height: 1 !important;
}
@media screen and (min-width: 320px) {
  .tui-pagination .tui-page-btn {
    width: 30px !important;
    height: 30px !important;
    padding: 10px 0 !important;
  }
}
@media screen and (min-width: 768px) {
  .tui-pagination .tui-page-btn {
    width: 35px !important;
    height: 35px !important;
    padding: 12px 0 !important;
  }
}
@media screen and (min-width: 1280px) {
  .tui-pagination .tui-page-btn {
    width: 40px !important;
    height: 40px !important;
    padding: 13px 0 !important;
  }
}

.tui-pagination .tui-ico-ellip {
  margin-top: 5px !important;
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  background-color: rgb(255, 107, 8) !important;
  border-color: rgb(255, 107, 8) !important;
}

.footer {
  background-color: #f7f7f7;
}

.footer__info {
  text-align: center;
  color: #545454;
}
@media screen and (min-width: 320px) {
  .footer__info {
    padding: 29px 0 30px;
    font-size: 14px;
    line-height: 16px;
  }
}
@media screen and (min-width: 768px) {
  .footer__info {
    padding: 30px 0 30px;
    font-size: 16px;
    line-height: 19px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__info {
    padding: 30px 0 28px;
  }
}

.footer__link {
  text-decoration: underline;
}

.footer__logo {
  fill: rgb(255, 107, 8);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  background-color: rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  overflow-y: scroll;
  transition: opacity 250ms, visibility 250ms;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: relative;
  top: 75%;
  left: 50%;
  padding: 48px 20px 40px;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms;
}
@media screen and (min-width: 768px) {
  .modal {
    top: 50%;
    max-width: 704px;
    padding: 40px 36px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .modal {
    max-width: 806px;
    padding: 40px 12px;
  }
}

.modal__button--close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #fff;
  border: transparent;
  padding: 0;
  cursor: pointer;
}

.modal__icon--close {
  stroke: #000;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon--close:hover, .modal__icon--close:focus {
  stroke: rgb(255, 107, 8);
}

.modal__card {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .modal__card {
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .modal__card {
    gap: 16px;
  }
}

.modal__img-container {
  position: relative;
}

.modal__trailer-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__trailer-btn:hover, .modal__trailer-btn:focus {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal__image {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .modal__image {
    min-width: 264px;
    min-height: 374px;
  }
}
@media screen and (min-width: 1280px) {
  .modal__image {
    min-width: 375px;
    min-height: 478px;
  }
}

.modal__wrapper {
  flex-direction: column;
  gap: 20px;
}

.modal__title {
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.15;
}
@media screen and (min-width: 1280px) {
  .modal__title {
    font-size: 30px;
    line-height: 1.16;
  }
}

.modal__list {
  margin-bottom: 20px;
}

.modal__item {
  margin-bottom: 8px;
  display: flex;
  gap: 40px;
}

.modal__vote-container {
  display: flex;
}

.modal__text {
  width: 72px;
  color: #8c8c8c;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3;
}

.modal__info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  border-radius: 5px;
}

.modal__info--accent {
  padding: 1px 10px;
  background-color: #ff6b01;
  color: #fff;
  margin-right: 2px;
}

.modal__info--noaccent {
  padding: 1px 10px;
  background-color: #f7f7f7;
  color: #000;
}

.modal__desc {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.modal__desc-title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  margin-bottom: 8px;
}

.modal__desc-text {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .modal__desc-text {
    width: 320px;
    max-height: 200px;
    overflow-y: auto;
  }
}
@media screen and (min-width: 1280px) {
  .modal__desc-text {
    width: 391px;
    max-height: 200px;
    overflow-y: auto;
  }
}

.modal__buttons-container {
  gap: 20px;
  display: flex;
  justify-content: center;
}

.modal__btn {
  width: 110px;
  height: 44px;
  border: 1px solid #000;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
}
@media screen and (min-width: 768px) {
  .modal__btn {
    width: 125px;
  }
}
@media screen and (min-width: 1280px) {
  .modal__btn {
    width: 136px;
  }
}
.modal__btn:hover, .modal__btn:focus {
  background: #ff6b01;
  color: #fff;
}

.disable-scroll {
  position: relative;
  overflow: hidden;
  height: 100vh;
  left: 0;
  top: 0;
  width: 100%;
}

.video-trailer {
  width: 100%;
  height: 170px;
}
@media screen and (min-width: 768px) {
  .video-trailer {
    width: 757px;
    height: 425px;
  }
}
@media screen and (min-width: 1280px) {
  .video-trailer {
    width: 1164px;
    height: 654px;
  }
}

.trailer-error {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .trailer-error {
    font-size: 26px;
  }
}
@media screen and (min-width: 1280px) {
  .trailer-error {
    font-size: 38px;
  }
}

body {
  background: var(--bg);
  color: #262626;
  transition: all 0.2s ease-in-out;
}

* {
  box-sizing: border-box;
}

.swither-container {
  position: absolute;
  top: 170px;
  left: 20px;
}

.theme-switcher {
  width: 50px;
  height: 20px;
  position: absolute;
  cursor: pointer;
  margin: 0 auto;
}
.theme-switcher .background {
  width: 50px;
  height: 20px;
  background-color: var(--input-back);
  border-radius: 30px;
}
.theme-switcher .switch {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  height: 30px;
  width: 30px;
  background-color: var(--input-color);
  position: absolute;
  top: -5px;
  left: 0px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme-switcher .switch img {
  width: 60%;
  height: auto;
  position: absolute;
  transition: all 0.2s ease-in-out;
}
.theme-switcher .switch .sun {
  opacity: 1;
}
.theme-switcher .switch .moon {
  opacity: 0;
}
.theme-switcher input {
  display: none;
}
.theme-switcher input:checked + .switch {
  left: 20px;
}
.theme-switcher input:checked + .switch .sun {
  opacity: 0;
}
.theme-switcher input:checked + .switch .moon {
  opacity: 1;
}

.logo {
  position: fixed;
  display: flex;
  left: 10px;
  top: 10px;
  flex-direction: row;
  z-index: 1000;
}
.logo a {
  display: block;
  height: 30px;
  width: auto;
  cursor: pointer;
  margin-right: 10px;
}
.logo a img {
  height: 100%;
  width: auto;
}/*# sourceMappingURL=index.css.map */