<footer class="footer">
  <div class="container">
    <p class="footer__info">
      © 2022-2023 | <span class="lang-polyci">All Rights Reserved</span>|
      <span class="lang-developer">Developed with</span>
      <svg
        class="footer__logo animate__animated animate__heartBeat animate__infinite"
        width="14"
        height="13"
      >
        <use href="./images/icons/icon.svg#icon-heart"></use>
      </svg>
      <span class="lang-by">by</span>
      <button class="footer__link lang-students">GoIT Students</button>
    </p>
  </div>
</footer>
