<header class="background">
    <div class="container">    <ul class="header-list">
        <li class="header-item"><a class="header-link" href="#">Filmoteka
        </a></li>
        <div class="header-links">
            <li class="header-link-item"><a class="header-link" href="#">HOME</a></li>
            <li class="header-link-item"><a class="header-link" href="#">MY LIBRARY</a></li>
        </div>
</ul>
<form action="">
    <input class="header-input" type="text" name="query" placeholder="Movie search">
    <button class="header-btn" type="submit"></button>
</form></div>


</header>
