<header class="header">
    <div class="container">    
        <ul class="header_list">
        <li class="header_nav"><svg class="header__logo" width="24" height="24">
            <use href="./images/icons/icon.svg#icon-logo"></use>
          </svg><a class="header_link_filmoteka" href="index.html">Filmoteka
        </a></li>
        <div class="header_links">
            <li class="header_link_item"><a class="header_link" href="index.html">HOME</a></li>
            <li class="header_link_item"><a class="header_link" href="library.html">MY LIBRARY</a></li>
        </div>
</ul>
<form class="header_form" action="">
    <input class="header_input" type="text" name="query" placeholder="Movie search">
    <button class="header_btn" type="submit"><svg class="search__logo" width="12" height="12">
        <use href="./images/icons/icon.svg#icon-search"></use>
      </svg></button>
    
</form>
<p class="warning_search">Search result not successful. Enter the correct movie name and </p>
</div>


</header>
