<header class="header">
  <div class="container">
    <nav class="header__list">
      <div class="header__nav">
        <a class="header__link-block" href="index.html">
          <svg class="header__logo animate__animated" width="24" height="24">
            <use href="./images/icons/icon.svg#icon-logo"></use>
          </svg>
          <p class="header__link-filmoteka" href="index.html">Filmoteka</p>
        </a>
      </div>
      <div class="header__links-container">
        <a class="header__link current" href="index.html">home</a>
        <a class="header__link library" href="library.html">my library</a>
        <a class="header__link googleSignUp" href="#">login</a>
        <a class="header__link googleSignOut" href="#">logout</a>
      </div>
    </nav>
    <form class="header__form" action="GET">
      <input class="header__input" type="text" name="query" placeholder="Movie search" />
      <button class="header__btn animate__animated animate__fadeInLeft" type="submit" aria-label="search">
        <svg class="header__search-logo" width="12" height="12">
          <use href="./images/icons/icon.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <p class="header__warning-search"></p>
  </div>
</header>