<main>
  <section class="container container__my-library--margin-top">
    <ul class="movies__list"></ul>
    <div class="library__wrap">
      <div class="library__image"></div>
      <div class="library__info">
        <p>You have no movies to watch yet.</p>
        <a href="./index.html">
          <button type="button" class="animate__animated animate__heartBeat library__btn">
            Go to the most popular movies
          </button>
        </a>
      </div>
    </div>
  </section>
</main>