<main>
  <section class="container library">
    <div class="libraru__image">
      <!-- <picture>
        <source
          srcset="
            /src/images/library-desc-1x.jpg 1x,
            /src/images/library-desc-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /src/images/library-tab-1x.jpg 1x,
            /src/images/library-tab-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /src/images/library-mob-1x.jpg 1x,
            /src/images/library-mob-2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img src="/src/images/library-desc-1x.jpg" alt="Dog" />
      </picture> -->
    </div>
    <div class="library__info">
      <p>You have no movies to watch yet.</p>
      <!-- <button
        type="button"
        href="./index.html"
        class="animate__animated animate__heartBeat library__info--linc"
      >
        To go to the most popular movies click me!!!
      </button> -->
      <a href="./index.html" class="library__info--linc">
        <p href="./index.html" class="animate__animated animate__heartBeat">
          To go to the most popular movies click me!!!
        </p>
      </a>
    </div>
  </section>
</main>
