<main>
  <section class="container container__my-library--margin-top">
    <ul class="movies__list"></ul>
    <div class="library__image">
      <!-- <picture>
        <source
          srcset="
            /src/images/library-desc-1x.jpg 1x,
            /src/images/library-desc-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /src/images/library-tab-1x.jpg 1x,
            /src/images/library-tab-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /src/images/library-mob-1x.jpg 1x,
            /src/images/library-mob-2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img src="/src/images/library-desc-1x.jpg" alt="Dog" />
      </picture> -->
    </div>
    <div class="library__info">
      <p>You have no movies to watch yet.</p>
      <a href="./index.html">
        <button
          type="button"
          class="animate__animated animate__heartBeat library__btn"
        >
          Go to the most popular movies
        </button>

        <!-- <p class="animate__animated animate__heartBeat btn-5">
          Go to the most popular movies
        </p> -->
      </a>
    </div>
  </section>
</main>
