<header class="library__header">
  <div class="container">
    <ul class="header__list">
      <li class="header__nav">
        <svg class="header__logo" width="24" height="24">
          <use href="./images/icons/icon.svg#icon-logo"></use></svg
        ><a class="header__link-filmoteka" href="index.html">Filmoteka </a>
      </li>
      <div class="header__links-container">
        <li class="header__link-item">
          <a class="header__link" href="index.html">HOME</a>
        </li>
        <li class="header__link-item">
          <a class="header__link current" href="library.html">MY LIBRARY</a>
        </li>
      </div>
    </ul>
    <ul class="library__header-list">
      <li class="library__header-item">
        <button type="button" class="library__header-btn-watched">
          watched
        </button>
      </li>
      <li class="library__header-item">
        <button type="button" class="library__header-btn-queue">queue</button>
      </li>
    </ul>
  </div>
</header>
