<main>
  <section class="container">
    <h2 class="is-hidden">Popular films</h2>
    <ul class="popular-films">
      <li class="popular-films__list">
        <a href=""
          ><picture>
            <source
              media="(max-width:767px)"
              srcset="
                ./images/Rectangle-1200@1x.jpg 1x,
                ./images/Rectangle-1200@2x.jpg 2x
              "
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/Rectangle-768@1x.jpg 1x,
                ./images/Rectangle-768@2x.jpg 2x
              "
            />
            <source
              media="(max-width:767px)"
              srcset="
                ./images/Rectangle-480@1x.jpg 1x,
                ./images/Rectangle-480@2x.jpg 2x
              "
            />
            <img src="./images/Rectangle.jpg" alt="popular films" />
          </picture>
          <div class="popular-films__item">
            <h3 class="popular-films__title">GREYHOUND</h3>
            <p class="popular-films__text">Drama, Action | 2020</p>
          </div></a
        >
      </li>
      <li class="popular-films__list">
        <a href=""
          ><picture>
            <source
              media="(max-width:767px)"
              srcset="
                ./images/Rectangle-1200@1x.jpg 1x,
                ./images/Rectangle-1200@2x.jpg 2x
              "
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/Rectangle-768@1x.jpg 1x,
                ./images/Rectangle-768@2x.jpg 2x
              "
            />
            <source
              media="(max-width:767px)"
              srcset="
                ./images/Rectangle-480@1x.jpg 1x,
                ./images/Rectangle-480@2x.jpg 2x
              "
            />
            <img src="./images/Rectangle.jpg" alt="popular films" />
          </picture>
          <div class="popular-films__item">
            <h3 class="popular-films__title">GREYHOUND</h3>
            <p class="popular-films__text">Drama, Action | 2020</p>
          </div></a
        >
      </li>
      <li class="popular-films__list">
        <a href=""
          ><picture>
            <source
              media="(max-width:767px)"
              srcset="
                ./images/Rectangle-1200@1x.jpg 1x,
                ./images/Rectangle-1200@2x.jpg 2x
              "
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/Rectangle-768@1x.jpg 1x,
                ./images/Rectangle-768@2x.jpg 2x
              "
            />
            <source
              media="(max-width:767px)"
              srcset="
                ./images/Rectangle-480@1x.jpg 1x,
                ./images/Rectangle-480@2x.jpg 2x
              "
            />
            <img src="./images/Rectangle.jpg" alt="popular films" />
          </picture>
          <div class="popular-films__item">
            <h3 class="popular-films__title">GREYHOUND</h3>
            <p class="popular-films__text">Drama, Action | 2020</p>
          </div></a
        >
      </li>
      <li class="popular-films__list">
        <a href=""
          ><picture>
            <source
              media="(max-width:767px)"
              srcset="
                ./images/Rectangle-1200@1x.jpg 1x,
                ./images/Rectangle-1200@2x.jpg 2x
              "
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/Rectangle-768@1x.jpg 1x,
                ./images/Rectangle-768@2x.jpg 2x
              "
            />
            <source
              media="(max-width:767px)"
              srcset="
                ./images/Rectangle-480@1x.jpg 1x,
                ./images/Rectangle-480@2x.jpg 2x
              "
            />
            <img src="./images/Rectangle.jpg" alt="popular films" />
          </picture>
          <div class="popular-films__item">
            <h3 class="popular-films__title">GREYHOUND</h3>
            <p class="popular-films__text">Drama, Action | 2020</p>
          </div></a
        >
      </li>
      <li class="popular-films__list">
        <a href=""
          ><picture>
            <source
              media="(max-width:767px)"
              srcset="
                ./images/Rectangle-1200@1x.jpg 1x,
                ./images/Rectangle-1200@2x.jpg 2x
              "
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/Rectangle-768@1x.jpg 1x,
                ./images/Rectangle-768@2x.jpg 2x
              "
            />
            <source
              media="(max-width:767px)"
              srcset="
                ./images/Rectangle-480@1x.jpg 1x,
                ./images/Rectangle-480@2x.jpg 2x
              "
            />
            <img src="./images/Rectangle.jpg" alt="popular films" />
          </picture>
          <div class="popular-films__item">
            <h3 class="popular-films__title">GREYHOUND</h3>
            <p class="popular-films__text">Drama, Action | 2020</p>
          </div></a
        >
      </li>
      <li class="popular-films__list">
        <a href=""
          ><picture>
            <source
              media="(max-width:767px)"
              srcset="
                ./images/Rectangle-1200@1x.jpg 1x,
                ./images/Rectangle-1200@2x.jpg 2x
              "
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/Rectangle-768@1x.jpg 1x,
                ./images/Rectangle-768@2x.jpg 2x
              "
            />
            <source
              media="(max-width:767px)"
              srcset="
                ./images/Rectangle-480@1x.jpg 1x,
                ./images/Rectangle-480@2x.jpg 2x
              "
            />
            <img src="./images/Rectangle.jpg" alt="popular films" />
          </picture>
          <div class="popular-films__item">
            <h3 class="popular-films__title">GREYHOUND</h3>
            <p class="popular-films__text">Drama, Action | 2020</p>
          </div></a
        >
      </li>
      <li class="popular-films__list">
        <a href=""
          ><picture>
            <source
              media="(max-width:767px)"
              srcset="
                ./images/Rectangle-1200@1x.jpg 1x,
                ./images/Rectangle-1200@2x.jpg 2x
              "
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/Rectangle-768@1x.jpg 1x,
                ./images/Rectangle-768@2x.jpg 2x
              "
            />
            <source
              media="(max-width:767px)"
              srcset="
                ./images/Rectangle-480@1x.jpg 1x,
                ./images/Rectangle-480@2x.jpg 2x
              "
            />
            <img src="./images/Rectangle.jpg" alt="popular films" />
          </picture>
          <div class="popular-films__item">
            <h3 class="popular-films__title">GREYHOUND</h3>
            <p class="popular-films__text">Drama, Action | 2020</p>
          </div></a
        >
      </li>
      <li class="popular-films__list">
        <a href=""
          ><picture>
            <source
              media="(max-width:767px)"
              srcset="
                ./images/Rectangle-1200@1x.jpg 1x,
                ./images/Rectangle-1200@2x.jpg 2x
              "
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/Rectangle-768@1x.jpg 1x,
                ./images/Rectangle-768@2x.jpg 2x
              "
            />
            <source
              media="(max-width:767px)"
              srcset="
                ./images/Rectangle-480@1x.jpg 1x,
                ./images/Rectangle-480@2x.jpg 2x
              "
            />
            <img src="./images/Rectangle.jpg" alt="popular films" />
          </picture>
          <div class="popular-films__item">
            <h3 class="popular-films__title">GREYHOUND</h3>
            <p class="popular-films__text">Drama, Action | 2020</p>
          </div></a
        >
      </li>
    </ul>
  </section>
</main>
