<div class="backdrop_dev is-hidden" data-modal>
  <div class="modal_dev">
    <button
      type="button"
      class="modal_dev_btn--close modal__button--close cursor"
      data-modal-close
    >
      <svg class="modal__icon--close" width="30" height="30">
        <use href="./images/icons/icon.svg#icon-close"></use>
      </svg>
    </button>

    <div class="dev">
      <h2 class="dev_title">Developed with participation</h2>
      <ul class="dev_list list">
        <!-- Maxym Koralkov -->
        <li class="dev_items">
          <div class="dev_info">
            <img
              src="./images/user-img.jpg"
              alt="Developer photo"
              width="450"
            />
            <h3 class="dev_subtitle">Maxym Koralkov</h3>
            <p class="dev_about" lang="en">Team Lead</p>
            <ul class="soc list">
              <li class="soc_items">
                <a
                  href=""
                  class="soc_link link"
                  target="_blank"
                  rel="noopenerignoreferrer nofollow"
                >
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a
                  href="https://github.com/maxyma-sanx"
                  class="soc_link link"
                  target="_blank"
                  rel="noopenerignoreferrer nofollow"
                >
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a
                  href=""
                  class="soc_link link"
                  target="_blank"
                  rel="noopenerignoreferrer nofollow"
                >
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- student 2-->
        <li class="dev_items">
          <div class="dev_info">
            <img
              src="./images/user-img.jpg"
              alt="Developer photo"
              width="450"
            />
            <h3 class="dev_subtitle">Student 2</h3>
            <p class="dev_about" lang="en">Scrum Master</p>
            <ul class="soc list">
              <li class="soc_items">
                <a
                  href=""
                  class="soc_link link"
                  target="_blank"
                  rel="noopenerignoreferrer nofollow"
                >
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a
                  href=""
                  class="soc_link link"
                  target="_blank"
                  rel="noopenerignoreferrer nofollow"
                >
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a
                  href=""
                  class="soc_link link"
                  target="_blank"
                  rel="noopenerignoreferrer nofollow"
                >
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- Dmytro Avramenko -->
        <li class="dev_items">
          <div class="dev_info">
            <img
              src="./images/user-img.jpg"
              alt="Developer photo"
              width="450"
            />
            <h3 class="dev_subtitle">Dmytro Avramenko</h3>
            <p class="dev_about" lang="en">Developer</p>
            <ul class="soc list">
              <li class="soc_items">
                <a
                  href="http://www.linkedin.com/in/dmytro-avramenko-318942242"
                  class="soc_link link"
                  target="_blank"
                  rel="noopenerignoreferrer nofollow"
                >
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a
                  href="https://github.com/Dmytro-Avramenko"
                  class="soc_link link"
                  target="_blank"
                  rel="noopenerignoreferrer nofollow"
                >
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a
                  href="https://www.instagram.com/dmytroavramenko/"
                  class="soc_link link"
                  target="_blank"
                  rel="noopenerignoreferrer nofollow"
                >
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- Krupsky Aleksei -->
        <li class="dev_items">
          <div class="dev_info">
            <img
              src="./images/user-img.jpg"
              alt="Developer photo"
              width="450"
            />
            <h3 class="dev_subtitle">Krupsky Aleksei</h3>
            <p class="dev_about" lang="en">Developer</p>
            <ul class="soc list">
              <li class="soc_items">
                <a
                  href="https://www.linkedin.com/in/aleksei-krupsky-31aaa0176/"
                  class="soc_link link"
                  target="_blank"
                  rel="noopenerignoreferrer nofollow"
                >
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a
                  href="https://github.com/LefanTwelve"
                  class="soc_link link"
                  target="_blank"
                  rel="noopenerignoreferrer nofollow"
                >
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a
                  href="https://www.instagram.com/lefan_12_/"
                  class="soc_link link"
                  target="_blank"
                  rel="noopenerignoreferrer nofollow"
                >
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- Furmanchuk Larysa -->
        <li class="dev_items">
          <div class="dev_info">
            <img
              src="./images/user-img.jpg"
              alt="Developer photo"
              width="450"
            />
            <h3 class="dev_subtitle">Furmanchuk Larysa</h3>
            <p class="dev_about" lang="en">Developer</p>
            <ul class="soc list">
              <li class="soc_items">
                <a
                  href="./"
                  class="soc_link link"
                  target="_blank"
                  rel="noopenerignoreferrer nofollow"
                >
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a
                  href="https://github.com/lfurmanchuk"
                  class="soc_link link"
                  target="_blank"
                  rel="noopenerignoreferrer nofollow"
                >
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a
                  href="https://www.instagram.com/lesia.furmanchuk/"
                  class="soc_link link"
                  target="_blank"
                  rel="noopenerignoreferrer nofollow"
                >
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- Vadym Zhuravlov -->
        <li class="dev_items">
          <div class="dev_info">
            <img
              src="./images/user-img.jpg"
              alt="Developer photo"
              width="450"
            />
            <h3 class="dev_subtitle">Vadym Zhuravlov</h3>
            <p class="dev_about" lang="en">Developer</p>
            <ul class="soc list">
              <li class="soc_items">
                <a
                  href="https://www.linkedin.com/in/vadym-zhuravlov-b2b158262/"
                  class="soc_link link"
                  target="_blank"
                  rel="noopenerignoreferrer nofollow"
                >
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a
                  href="https://github.com/Vadym-Zh"
                  class="soc_link link"
                  target="_blank"
                  rel="noopenerignoreferrer nofollow"
                >
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a
                  href="https://www.instagram.com/vadiazh92/"
                  class="soc_link link"
                  target="_blank"
                  rel="noopenerignoreferrer nofollow"
                >
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- student 7 -->
        <li class="dev_items">
          <div class="dev_info">
            <img
              src="./images/user-img.jpg"
              alt="Developer photo"
              width="450"
            />
            <h3 class="dev_subtitle">Student 7</h3>
            <p class="dev_about" lang="en">Developer</p>
            <ul class="soc list">
              <li class="soc_items">
                <a
                  href="./"
                  class="soc_link link"
                  target="_blank"
                  rel="noopenerignoreferrer nofollow"
                >
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a
                  href="./"
                  class="soc_link link"
                  target="_blank"
                  rel="noopenerignoreferrer nofollow"
                >
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a
                  href="./"
                  class="soc_link link"
                  target="_blank"
                  rel="noopenerignoreferrer nofollow"
                >
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- student 8 -->
        <li class="dev_items">
          <div class="dev_info">
            <img
              src="./images/user-img.jpg"
              alt="Developer photo"
              width="450"
            />
            <h3 class="dev_subtitle">Student 8</h3>
            <p class="dev_about" lang="en">Developer</p>
            <ul class="soc list">
              <li class="soc_items">
                <a
                  href="./"
                  class="soc_link link"
                  target="_blank"
                  rel="noopenerignoreferrer nofollow"
                >
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a
                  href="./"
                  class="soc_link link"
                  target="_blank"
                  rel="noopenerignoreferrer nofollow"
                >
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a
                  href="./"
                  class="soc_link link"
                  target="_blank"
                  rel="noopenerignoreferrer nofollow"
                >
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- student 9 -->
        <li class="dev_items">
          <div class="dev_info">
            <img
              src="./images/user-img.jpg"
              alt="Developer photo"
              width="450"
            />
            <h3 class="dev_subtitle">Student 9</h3>
            <p class="dev_about" lang="en">Developer</p>
            <ul class="soc list">
              <li class="soc_items">
                <a
                  href="./"
                  class="soc_link link"
                  target="_blank"
                  rel="noopenerignoreferrer nofollow"
                >
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a
                  href="./"
                  class="soc_link link"
                  target="_blank"
                  rel="noopenerignoreferrer nofollow"
                >
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a
                  href="./"
                  class="soc_link link"
                  target="_blank"
                  rel="noopenerignoreferrer nofollow"
                >
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- student 10 -->
        <li class="dev_items">
          <div class="dev_info">
            <img
              src="./images/user-img.jpg"
              alt="Developer photo"
              width="450"
            />
            <h3 class="dev_subtitle">Student 10</h3>
            <p class="dev_about" lang="en">Developer</p>
            <ul class="soc list">
              <li class="soc_items">
                <a
                  href="./"
                  class="soc_link link"
                  target="_blank"
                  rel="noopenerignoreferrer nofollow"
                >
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a
                  href="./"
                  class="soc_link link"
                  target="_blank"
                  rel="noopenerignoreferrer nofollow"
                >
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a
                  href="./"
                  class="soc_link link"
                  target="_blank"
                  rel="noopenerignoreferrer nofollow"
                >
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
