<div class="backdrop_dev is-hidden" data-modal>
  <div class="modal_dev">
    <button type="button" class="modal_dev_btn--close modal__button--close cursor" data-modal-close>
      <svg class="modal__icon--close" width="30" height="30">
        <use href="./images/icons/icon.svg#icon-close"></use>
      </svg>
    </button>

    <div class="dev">
      <h2 class="dev_title lang-modalTitle">Developed with participation</h2>
      <ul class="dev_list list">
        <!-- Maksym Koralkov -->
        <li class="dev_items">
          <div class="dev_info">
            <picture>
              <source srcset="
                  ./images/devs/photo-maksym-desk-x1.jpg 1x,
                  ./images/devs/photo-maksym-desk-x2.jpg 2x
                " media="(min-width:1280px)" />
              <source srcset="
                  ./images/devs/photo-maksym-tab-x1.jpg 1x,
                  ./images/devs/photo-maksym-tab-x2.jpg 2x
                " media="(min-width:768px)" />
              <source srcset="
                  ./images/devs/photo-maksym-mob-x1.jpg 1x,
                  ./images/devs/photo-maksym-mob-x2.jpg 2x
                " media="(max-width:767px)" />
              <img src="./images/devs/photo-maksym-mob-x2.jpg" alt="Developer photo" width="280" />
            </picture>
            <h3 class="dev_subtitle lang-maksim">Maksym Koralkov</h3>
            <p class="dev_about lang-lead" lang="en">Team Lead</p>
            <ul class="soc list">
              <li class="soc_items">
                <a href="https://www.linkedin.com/in/maxyma/" class="soc_link link" target="_blank"
                  rel="noopenerignoreferrer nofollow">
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a href="https://github.com/maxyma-sanx" class="soc_link link" target="_blank"
                  rel="noopenerignoreferrer nofollow">
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a href="#" class="soc_link link" target="_blank" rel="noopenerignoreferrer nofollow">
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- Denis Murov-->
        <!-- without linkedin/Git/Inst -->
        <li class="dev_items">
          <div class="dev_info">
            <picture>
              <source srcset="
                              ./images/devs/photo-denis-desk-x1.jpg 1x,
                              ./images/devs/photo-denis-desk-x2.jpg 2x
                            " media="(min-width:1280px)" />
              <source srcset="
                              ./images/devs/photo-denis-tab-x1.jpg 1x,
                              ./images/devs/photo-denis-tab-x2.jpg 2x
                            " media="(min-width:768px)" />
              <source srcset="
                              ./images/devs/photo-denis-mob-x1.jpg 1x,
                              ./images/devs/photo-denis-mob-x2.jpg 2x
                            " media="(max-width:767px)" />
              <img src="./images/devs/photo-denis-mob-x2.jpg" alt="Developer photo" width="280" />
            </picture>
            <h3 class="dev_subtitle lang-denis">Denis Murov</h3>
            <p class="dev_about lang-scrum" lang="en">Scrum Master</p>
            <ul class="soc list">
              <li class="soc_items">
                <a href="#" class="soc_link link" target="_blank" rel="noopenerignoreferrer nofollow">
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a href="https://github.com/bobr1k92" class="soc_link link" target="_blank"
                  rel="noopenerignoreferrer nofollow">
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a href="https://www.instagram.com/bobr1k92/" class="soc_link link" target="_blank"
                  rel="noopenerignoreferrer nofollow">
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- Dmytro Avramenko -->
        <li class="dev_items">
          <div class="dev_info">
            <picture>
              <source srcset="
                  ./images/devs/photo-dmytro-desk-x1.jpg 1x,
                  ./images/devs/photo-dmytro-desk-x2.jpg 2x
                " media="(min-width:1280px)" />
              <source srcset="
                  ./images/devs/photo-dmytro-tab-x1.jpg 1x,
                  ./images/devs/photo-dmytro-tab-x2.jpg 2x
                " media="(min-width:768px)" />
              <source srcset="
                  ./images/devs/photo-dmytro-mob-x1.jpg 1x,
                  ./images/devs/photo-dmytro-mob-x2.jpg 2x
                " media="(max-width:767px)" />
              <img src="./images/devs/photo-dmytro-mob-x2.jpg" alt="Developer photo" width="280" />
            </picture>
            <h3 class="dev_subtitle lang-dmitriy">Dmytro Avramenko</h3>
            <p class="dev_about lang-dev" lang="en">Developer</p>
            <ul class="soc list">
              <li class="soc_items">
                <a href="http://www.linkedin.com/in/dmytro-avramenko-318942242" class="soc_link link" target="_blank"
                  rel="noopenerignoreferrer nofollow">
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a href="https://github.com/Dmytro-Avramenko" class="soc_link link" target="_blank"
                  rel="noopenerignoreferrer nofollow">
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a href="https://www.instagram.com/dmytroavramenko/" class="soc_link link" target="_blank"
                  rel="noopenerignoreferrer nofollow">
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- Krupsky Aleksei -->
        <li class="dev_items">
          <div class="dev_info">
            <picture>
              <source srcset="
                  ./images/devs/photo-aleksei-desk-x1.jpg 1x,
                  ./images/devs/photo-aleksei-desk-x2.jpg 2x
                " media="(min-width:1280px)" />
              <source srcset="
                  ./images/devs/photo-aleksei-tab-x1.jpg 1x,
                  ./images/devs/photo-aleksei-tab-x2.jpg 2x
                " media="(min-width:768px)" />
              <source srcset="
                  ./images/devs/photo-aleksei-mob-x1.jpg 1x,
                  ./images/devs/photo-aleksei-mob-x2.jpg 2x
                " media="(max-width:767px)" />
              <img src="./images/devs/photo-aleksei-mob-x2.jpg" alt="Developer photo" width="280" />
            </picture>
            <h3 class="dev_subtitle lang-aleksey">Aleksei Krupsky</h3>
            <p class="dev_about lang-dev2" lang="en">Developer</p>
            <ul class="soc list">
              <li class="soc_items">
                <a href="https://www.linkedin.com/in/aleksei-krupsky-31aaa0176/" class="soc_link link" target="_blank"
                  rel="noopenerignoreferrer nofollow">
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a href="https://github.com/LefanTwelve" class="soc_link link" target="_blank"
                  rel="noopenerignoreferrer nofollow">
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a href="https://www.instagram.com/lefan_12_/" class="soc_link link" target="_blank"
                  rel="noopenerignoreferrer nofollow">
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- Furmanchuk Larysa -->
        <li class="dev_items">
          <div class="dev_info">
            <picture>
              <source srcset="
                  ./images/devs/photo-larysa-desk-x1.jpg 1x,
                  ./images/devs/photo-larysa-desk-x2.jpg 2x
                " media="(min-width:1280px)" />
              <source srcset="
                  ./images/devs/photo-larysa-tab-x1.jpg 1x,
                  ./images/devs/photo-larysa-tab-x2.jpg 2x
                " media="(min-width:768px)" />
              <source srcset="
                  ./images/devs/photo-larysa-mob-x1.jpg 1x,
                  ./images/devs/photo-larysa-mob-x2.jpg 2x
                " media="(max-width:767px)" />
              <img src="./images/devs/photo-larysa-mob-x2.jpg" alt="Developer photo" width="280" />
            </picture>
            <h3 class="dev_subtitle lang-lesya">Larysa Furmanchuk</h3>
            <p class="dev_about lang-dev3" lang="en">Developer</p>
            <ul class="soc list">
              <li class="soc_items">
                <a href="https://www.linkedin.com/in/larysa-furmanchuk-7846a9262/" class="soc_link link" target="_blank"
                  rel="noopenerignoreferrer nofollow">
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a href="https://github.com/lfurmanchuk" class="soc_link link" target="_blank"
                  rel="noopenerignoreferrer nofollow">
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a href="https://www.instagram.com/lesia.furmanchuk/" class="soc_link link" target="_blank"
                  rel="noopenerignoreferrer nofollow">
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- Vadym Zhuravlov -->
        <li class="dev_items">
          <div class="dev_info">
            <picture>
              <source srcset="
                  ./images/devs/photo-vadym-desk-x1.jpg 1x,
                  ./images/devs/photo-vadym-desk-x2.jpg 2x
                " media="(min-width:1280px)" />
              <source srcset="
                  ./images/devs/photo-vadym-tab-x1.jpg 1x,
                  ./images/devs/photo-vadym-tab-x2.jpg 2x
                " media="(min-width:768px)" />
              <source srcset="
                  ./images/devs/photo-vadym-mob-x1.jpg 1x,
                  ./images/devs/photo-vadym-mob-x2.jpg 2x
                " media="(max-width:767px)" />
              <img src="./images/devs/photo-vadym-mob-x2.jpg" alt="Developer photo" width="280" />
            </picture>
            <h3 class="dev_subtitle lang-vadym">Vadym Zhuravlov</h3>
            <p class="dev_about lang-dev4" lang="en">Developer</p>
            <ul class="soc list">
              <li class="soc_items">
                <a href="https://www.linkedin.com/in/vadym-zhuravlov-b2b158262/" class="soc_link link" target="_blank"
                  rel="noopenerignoreferrer nofollow">
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a href="https://github.com/Vadym-Zh" class="soc_link link" target="_blank"
                  rel="noopenerignoreferrer nofollow">
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a href="https://www.instagram.com/vadiazh92/" class="soc_link link" target="_blank"
                  rel="noopenerignoreferrer nofollow">
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- Mazka Andrii-->
        <li class="dev_items">
          <div class="dev_info">
            <picture>
              <source srcset="
                  ./images/devs/photo-andrii-desk-x1.jpg 1x,
                  ./images/devs/photo-andrii-desk-x2.jpg 2x
                " media="(min-width:1280px)" />
              <source srcset="
                  ./images/devs/photo-andrii-tab-x1.jpg 1x,
                  ./images/devs/photo-andrii-tab-x2.jpg 2x
                " media="(min-width:768px)" />
              <source srcset="
                  ./images/devs/photo-andrii-mob-x1.jpg 1x,
                  ./images/devs/photo-andrii-mob-x2.jpg 2x
                " media="(max-width:767px)" />
              <img src="./images/devs/photo-andrii-mob-x2.jpg" alt="Developer photo" width="280" />
            </picture>
            <h3 class="dev_subtitle lang-andrii">Mazka Andrii</h3>
            <p class="dev_about lang-dev5" lang="en">Developer</p>
            <ul class="soc list">
              <li class="soc_items">
                <a href="https://www.linkedin.com/in/andrii-mazka/" class="soc_link link" target="_blank"
                  rel="noopenerignoreferrer nofollow">
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a href="https://github.com/MazkaAndrii" class="soc_link link" target="_blank"
                  rel="noopenerignoreferrer nofollow">
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a href="https://www.instagram.com/andriy.mazka/" class="soc_link link" target="_blank"
                  rel="noopenerignoreferrer nofollow">
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- Sanhinov Vladyslav -->
        <!-- without linkedin -->
        <li class="dev_items">
          <div class="dev_info">
            <picture>
              <source srcset="
                  ./images/devs/photo-vladyslav-desk-x1.jpg 1x,
                  ./images/devs/photo-vladyslav-desk-x2.jpg 2x
                " media="(min-width:1280px)" />
              <source srcset="
                  ./images/devs/photo-vladyslav-tab-x1.jpg 1x,
                  ./images/devs/photo-vladyslav-tab-x2.jpg 2x
                " media="(min-width:768px)" />
              <source srcset="
                  ./images/devs/photo-vladyslav-mob-x1.jpg 1x,
                  ./images/devs/photo-vladyslav-mob-x2.jpg 2x
                " media="(max-width:767px)" />
              <img src="./images/devs/photo-vladyslav-mob-x2.jpg" alt="Developer photo" width="280" />
            </picture>
            <h3 class="dev_subtitle lang-vladislav">Vladysla Sanhinovv</h3>
            <p class="dev_about lang-dev6" lang="en">Developer</p>
            <ul class="soc list">
              <li class="soc_items">
                <a href="#" class="soc_link link" target="_blank" rel="noopenerignoreferrer nofollow">
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a href="https://github.com/Skynet4241" class="soc_link link" target="_blank"
                  rel="noopenerignoreferrer nofollow">
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a href="https://www.instagram.com/sanhinov/" class="soc_link link" target="_blank"
                  rel="noopenerignoreferrer nofollow">
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- Vitaliy Ishchuk -->
        <!-- without Instagram -->
        <li class="dev_items">
          <div class="dev_info">
            <picture>
              <source srcset="
                  ./images/devs/photo-vitaliy-desk-x1.jpg 1x,
                  ./images/devs/photo-vitaliy-desk-x2.jpg 2x
                " media="(min-width:1280px)" />
              <source srcset="
                  ./images/devs/photo-vitaliy-tab-x1.jpg 1x,
                  ./images/devs/photo-vitaliy-tab-x2.jpg 2x
                " media="(min-width:768px)" />
              <source srcset="
                  ./images/devs/photo-vitaliy-mob-x1.jpg 1x,
                  ./images/devs/photo-vitaliy-mob-x2.jpg 2x
                " media="(max-width:767px)" />
              <img src="./images/devs/photo-vitaliy-mob-x2.jpg" alt="Developer photo" width="280" />
            </picture>
            <h3 class="dev_subtitle lang-vitaliy">Vitaliy Ishchuk</h3>
            <p class="dev_about lang-dev7" lang="en">Developer</p>
            <ul class="soc list">
              <li class="soc_items">
                <a href="https://www.linkedin.com/in/%D0%B2%D1%96%D1%82%D0%B0%D0%BB%D1%96%D0%B9-%D1%96%D1%89%D1%83%D0%BA-6b785225b/"
                  class="soc_link link" target="_blank" rel="noopenerignoreferrer nofollow">
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a href="https://github.com/Vitalij1989" class="soc_link link" target="_blank"
                  rel="noopenerignoreferrer nofollow">
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a href="#" class="soc_link link" target="_blank" rel="noopenerignoreferrer nofollow">
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- Alexander Kisliy  -->
        <!-- without linkedin -->
        <li class="dev_items">
          <div class="dev_info">
            <picture>
              <source srcset="
                  ./images/devs/photo-alexander-desk-x1.jpg 1x,
                  ./images/devs/photo-alexander-desk-x2.jpg 2x
                " media="(min-width:1280px)" />
              <source srcset="
                  ./images/devs/photo-alexander-tab-x1.jpg 1x,
                  ./images/devs/photo-alexander-tab-x2.jpg 2x
                " media="(min-width:768px)" />
              <source srcset="
                  ./images/devs/photo-alexander-mob-x1.jpg 1x,
                  ./images/devs/photo-alexander-mob-x2.jpg 2x
                " media="(max-width:767px)" />
              <img src="./images/devs/photo-alexander-mob-x2.jpg" alt="Developer photo" width="280" />
            </picture>
            <h3 class="dev_subtitle lang-aleksandr">Alexander Kisliy</h3>
            <p class="dev_about lang-dev8" lang="en">Developer</p>
            <ul class="soc list">
              <li class="soc_items">
                <a href="#" class="soc_link link" target="_blank" rel="noopenerignoreferrer nofollow">
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a href="https://github.com/SashaKisliy" class="soc_link link" target="_blank"
                  rel="noopenerignoreferrer nofollow">
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a href="https://www.instagram.com/sano_cybersport/" class="soc_link link" target="_blank"
                  rel="noopenerignoreferrer nofollow">
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- Oleksandr Lytvyniuk -->
        <li class="dev_items">
          <div class="dev_info">
            <picture>
              <source srcset="
                  ./images/devs/photo-alex-desk-x1.jpg 1x,
                  ./images/devs/photo-alex-desk-x2.jpg 2x
                " media="(min-width:1280px)" />
              <source srcset="
                  ./images/devs/photo-alex-tab-x1.jpg 1x,
                  ./images/devs/photo-alex-tab-x2.jpg 2x
                " media="(min-width:768px)" />
              <source srcset="
                  ./images/devs/photo-alex-mob-x1.jpg 1x,
                  ./images/devs/photo-alex-mob-x2.jpg 2x
                " media="(max-width:767px)" />
              <img src="./images/devs/photo-alex-mob-x2.jpg" alt="Developer photo" width="280" />
            </picture>
            <h3 class="dev_subtitle lang-aleks">Aleksandr Lytvyniuk</h3>
            <p class="dev_about lang-dev8" lang="en">Developer</p>
            <ul class="soc list">
              <li class="soc_items">
                <a href="#" class="soc_link link" target="_blank" rel="noopenerignoreferrer nofollow">
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a href="https://github.com/Aviathor2002" class="soc_link link" target="_blank"
                  rel="noopenerignoreferrer nofollow">
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="soc_items">
                <a href="#" class="soc_link link" target="_blank" rel="noopenerignoreferrer nofollow">
                  <svg class="soc_icon" width="20" height="20">
                    <use href="./images/icons/icon.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>