<main>
  <section class="container movies">
    <h2 class="is-hidden">Popular films</h2>
    <ul class="movies__list">
      <li class="movies__item">
        <a href="">
          <img src="#" alt="#" />
          <div class="movies__info">
            <h3 class="movies__title">GREYHOUND</h3>
            <p class="movies__text">Drama, Action | 2020</p>
          </div></a
        >
      </li>
      <li class="movies__item">
        <a href="">
          <img src="#" alt="#" />
          <div class="movies__info">
            <h3 class="movies__title">GREYHOUND</h3>
            <p class="movies__text">Drama, Action | 2020</p>
          </div></a
        >
      </li>
      <li class="movies__item">
        <a href="">
          <img src="#" alt="#" />
          <div class="movies__info">
            <h3 class="movies__title">GREYHOUND</h3>
            <p class="movies__text">Drama, Action | 2020</p>
          </div></a
        >
      </li>
      <li class="movies__item">
        <a href="">
          <img src="#" alt="#" />
          <div class="movies__info">
            <h3 class="movies__title">GREYHOUND</h3>
            <p class="movies__text">Drama, Action | 2020</p>
          </div></a
        >
      </li>
      <li class="movies__item">
        <a href="">
          <img src="#" alt="#" />
          <div class="movies__info">
            <h3 class="movies__title">GREYHOUND</h3>
            <p class="movies__text">Drama, Action | 2020</p>
          </div></a
        >
      </li>
      <li class="movies__item">
        <a href="">
          <img src="#" alt="#" />
          <div class="movies__info">
            <h3 class="movies__title">GREYHOUND</h3>
            <p class="movies__text">Drama, Action | 2020</p>
          </div></a
        >
      </li>
      <li class="movies__item">
        <a href="">
          <img src="#" alt="#" />
          <div class="movies__info">
            <h3 class="movies__title">GREYHOUND</h3>
            <p class="movies__text">Drama, Action | 2020</p>
          </div></a
        >
      </li>
      <li class="movies__item">
        <a href="">
          <img src="#" alt="#" />
          <div class="movies__info">
            <h3 class="movies__title">GREYHOUND</h3>
            <p class="movies__text">Drama, Action | 2020</p>
          </div></a
        >
      </li>
    </ul>
  </section>
  <include src="./partials/pagination.html"></include>
</main>
