<main>
  <div class="swither-container">
    <label class="theme-switcher" for="themeswitch">
      <div class="background"></div>
      <input type="checkbox" id="themeswitch" />
      <div class="switch">
        <img
          class="sun"
          src="https://codeorum.com/images/article_images/150/20201011T160248_150.png"
        />
        <img
          class="moon"
          src="https://codeorum.com/images/article_images/150/20201011T160425_150.png"
        />
      </div>
    </label>
  </div>
  <!--MOVIE FILTER-->
  <nav>
    <ul>
      <li>
        <a>
          <span
            >Genres
            <svg></svg>
          </span>
        </a>
        <div></div>
      </li>
      <li>
        <a>
          <span
            >Release year
            <svg></svg>
          </span>
        </a>
        <div></div>
      </li>
    </ul>
  </nav>
  <section class="container movies">
    <h2 class="is-hidden">Popular films</h2>
    <ul class="movies__list"></ul>
  </section>
  <include src="./partials/pagination.html"></include>
</main>
