<main>
  <!--MOVIE FILTER-->
  <div class="container filter">
    <nav>
      <ul class="filter__nav-flex">
        <li>
          <a>
            <span class="filter__text"
              >Genres
              <svg class="filter__icon" width="15" height="15">
                <use href="/src/images/icons/icon.svg#icon-cheveron-down"></use>
              </svg>
            </span>
          </a>
          <div></div>
        </li>
        <li>
          <a>
            <span class="filter__text"
              >Release year
              <svg class="filter__icon" width="15" height="15">
                <use href="/src/images/icons/icon.svg#icon-cheveron-down"></use>
              </svg>
            </span>
          </a>
          <div></div>
        </li>
      </ul>
    </nav>
  </div>
  <section class="container movies">
    <h2 class="is-hidden">Popular films</h2>
    <ul class="movies__list"></ul>
  </section>
  <include src="./partials/pagination.html"></include>
</main>
