<section class="pagination">
  <div class="container">
    <ul class="pagination__list">
      <li class="pagination__item pagination__item--btn" data-action="left">
        <a class="pagination__link" href="#">
          <svg class="pagination__icon" width="16" height="16">
            <use href="./images/icons/icon.svg#icon-arrow-left"></use>
          </svg>
        </a>
      </li>
      <!-- <li class="pagination__item">
        <a class="pagination__link" href="#">1</a>
      </li>
      <li class="pagination__item">
        <a class="pagination__link" href="#">2</a>
      </li> -->
      <li class="pagination__item pagination__item--btn" data-action="right">
        <a class="pagination__link" href="#">
          <svg class="pagination__icon" width="16" height="16">
            <use href="./images/icons/icon.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>