.btn-up {
  background: rgba(255, 255, 255, 0.75);
  position: fixed;
  bottom: 16px;
  right: 45px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: $color-black;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
  z-index: 9000;
  cursor: pointer;
}

.btn-up::before {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 30px;
  content: '\2191';
}

.btn-up.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

.btn-up:hover {
  color: #ffffff;
  background-color: rgb(2, 2, 2);
}
