// .pagination {
//   max-width: 100%;
//   height: auto;
//   padding: 0 20px;
//   margin: 0 auto;

//   // @include mobile {
//   //   width: 480px;
//   //   margin: 0 auto;
//   // }

//   // @include tablet {
//   //   width: 768px;
//   //   padding: 0 32px;
//   // }

//   // @include desktop {
//   //   width: 1280px;
//   // }
// }

.pagination__list {
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;

  @include tablet {
    padding-top: 60px;
  }
}

.pagination__item {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid transparent;
  border-radius: 5px;
  min-width: 40px;
  color: var(--primaryTextDark);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  cursor: pointer;
  transition: border-color var(--timingFunction);

  &:not(:last-child) {
    margin-right: 1px;
  }

  &:not(.pagination__btn):hover {
    border-color: var(--accentTextColor);
  }
}

.pagination__link {
  color: inherit;
  pointer-events: none;
}

.pagination__btn {
  width: 40px;
  height: 40px;
  background: #f7f7f7;
}

.pagination__btn:first-child {
  margin-right: 8px;
}

.pagination__btn:last-child {
  margin-left: 8px;
}

.pagination__item.button:not(.disabled) {
  transition: background-color var(--timingFunction),
    stroke var(--timingFunction);
  &:hover,
  &:focus {
    background-color: var(--accentTextColor);
    & .button__icon {
      stroke: #ffffff;
    }
  }
}

.pagination__item.disabled .button__icon {
  stroke: #ccc;
}

.button__icon {
  pointer-events: none;
  stroke: #000000;
}

.pagination .active {
  width: 40px;
  height: 40px;
  background: var(--accentTextColor);
  border-radius: 5px;
  color: var(--primaryTextLight);
}
.pagination .hidden {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
