body {
  background: var(--bg);
  transition: all 0.2s ease-in-out;
}
* {
  box-sizing: border-box;
}
.swither-container {
  display: flex;
  justify-content: right;
  gap: 40px;
}
.theme-switcher {
  width: 50px;
  height: 21px;
  position: absolute;
  cursor: pointer;
  margin: 0 auto;
  .background {
    display: block;
    width: 50px;
    height: 22px;
    background-color: var(--input-back);
    border-radius: 30px;
  }
  .switch {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    height: 30px;
    width: 30px;
    background-color: var(--input-color);
    position: absolute;
    top: -5px;
    left: 0px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 60%;
      height: auto;
      position: absolute;
      transition: all 0.2s ease-in-out;
    }
    .sun {
      opacity: 1;
    }
    .moon {
      opacity: 0;
    }
  }
  input {
    display: none;
    &:checked + .switch {
      left: 20px;
      .sun {
        opacity: 0;
      }
      .moon {
        opacity: 1;
      }
    }
  }
}

.logo {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 10px;
  top: 10px;
  flex-direction: row;
  z-index: 1000;

  a {
    display: block;
    height: 30px;
    width: auto;
    cursor: pointer;
    margin-right: 10px;
    img {
      height: 100%;
      width: auto;
    }
  }
}
