.change-language {
  margin-left: 80px;
  margin-top: 27px;
  background-color: var(--input-back);
  border-radius: 10px;
  border: 2px solid transparent;
  width: 50px;
  height: 22px;
  &:focus {
    border-color: var(--input-back);
  }
  @include tablet {
    margin-left: 80px;
    margin-top: 17px;
  }
}
