.change-language {
  // margin-left: 230px;
  background-color: #ddd;
  border-radius: 10px;
  border: 2px solid transparent;
  width: 50px;
  height: 22px;
  &:focus {
    border-color: #ddd;
  }
  @include tablet {
    // margin-left: 230px;
  }
  @include desktop {
  }
}
