.library__info {
  margin-top: 25px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  @include tablet {
    font-size: 16px;
    line-height: 18px;
  }
  @include desktop {
    font-size: 20px;
    line-height: 27px;
  }
}
.libraru__image {
  margin-bottom: 20px;
  margin-top: 20px;

  width: 100%;
  height: 35vh;
  background-image: url(/src/images/library-mob-1x.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @include tablet {
    background-image: url(/src/images/library-tab-1x.jpg);
  }

  @include desktop {
    height: 42vh;
    min-width: 1280px;

    background-image: url(/src/images/library-desc-1x.jpg);
  }
}

.library__info--linc {
  &:hover {
    color: $color-accent-secondary;
  }
  &:focus {
    color: $color-accent-secondary;
  }
}
