.library__info {
  margin-top: 25px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  @include tablet {
    font-size: 16px;
    line-height: 18px;
  }
  @include desktop {
    font-size: 20px;
    line-height: 27px;
  }
}
.libraru__image {
  margin-bottom: 20px;
  margin-top: 20px;

  width: 100%;
  height: 35vh;
  background-image: url(/src/images/library-mob-1x.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @include tablet {
    background-image: url(/src/images/library-tab-1x.jpg);
  }

  @include desktop {
    height: 42vh;
    min-width: 1280px;

    background-image: url(/src/images/library-desc-1x.jpg);
  }
}

.library__btr {
  border: transparent;
  border-radius: 3px;
  background-color: $color-white;
  color: $color-accent-primary;
  &:hover {
    color: $color-white;
    background-color: $color-accent-secondary;
    border-radius: 5px;
    transition: transform 0.5s ease-in-out;
    transform: scale(1.03);
    box-shadow: 0 0 15px 5px #81776a80;
  }
  &:focus {
    color: $color-white;
    background-color: $color-accent-secondary;
    border-radius: 5px;
    transition: transform 0.5s ease-in-out;
    transform: scale(1.03);
    box-shadow: 0 0 15px 5px #81776a80;
  }
}
